.todo-form-wrapper,
.delete-dialog-container,
.menu,
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.delete-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-dialog-container {
  background-color: #e5e4e2;
  align-items: center;
  padding: 0.6em;
  gap: 0.5em;
  border-radius: 10px;
  text-align: center;
}

.warning-icon {
  font-size: 3rem;
  color: #f4bb44;
}

.delete-dialog-container > section {
  align-self: flex-end;
  display: flex;
  gap: 0.3em;
  padding-top: 0.5em;
}

.cancel-button,
.delete-button {
  border: none;
  padding: 0.3em 0.6em;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.cancel-button {
  background-color: #4682b4;
}

.delete-button {
  background-color: #d22b2b;
}

.filter-menu {
  position: fixed;
  top: 30%;
  right: 10%;
}

.menu {
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  background-color: #4682b4;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  gap: 0.5em;
}

.menu > li {
  font-family: sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkmark {
  width: 1em;
  visibility: hidden;
}

.checkmark.visible {
  visibility: visible;
}

.todo-form-wrapper {
  width: 75%;
  align-items: center;
  gap: 5em;
}

.todo-form-wrapper > h2 {
  text-decoration: underline;
  text-decoration-color: rgb(237, 235, 235);
}

.todo-form-wrapper > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.todo-form-wrapper > div > textarea {
  height: 28vh;
  border-radius: 20px;
  padding: 1.5em;
  font-size: 1.3rem;
}

.todo-form-wrapper > div > button {
  align-self: flex-end;
  background-color: #4682b4;
  color: white;
  font-size: 1.3rem;
  border: none;
  padding: 0.3em 0.6em;
  border-radius: 2px;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: white;
}

.header-section h1 {
  font-size: 2rem;
}

.layout-container {
  min-height: 100vh;
}

.body-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 1rem;
  align-self: flex-start;
  padding-left: 0.5em;
}

.header-section,
.footer-section {
  background-color: #4682b4;
}

.header-section {
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
  height: 15vh;
}

.footer-section {
  border-top-right-radius: 60%;
  border-top-left-radius: 60%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.task-icon {
  width: 10vw;
}

.loader {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #e9ecef;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .task-icon {
    width: 7.8vw;
  }

  .todo-form-wrapper {
    width: 65%;
  }

  .filter-menu {
    right: 13%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .task-icon {
    width: 6vw;
  }

  .todo-form-wrapper {
    width: 55%;
  }

  .filter-menu {
    right: 19%;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .task-icon {
    width: 5vw;
  }

  .todo-form-wrapper {
    width: 45%;
  }

  .filter-menu {
    right: 20.5%;
  }

  .todo-form-wrapper > div > button {
    font-size: 1.25rem;
  }
}

@media (min-width: 1367px) {
  .layout-container {
    width: 60vw;
    margin: 0 auto;
    height: 100vh;
    border-left: 0.2px solid rgb(218, 215, 215);
    border-right: 0.2px solid rgb(218, 215, 215);
  }

  .filter-menu {
    right: 36%;
  }

  .task-icon {
    width: 3vw;
  }

  .header-section {
    height: 12vh;
  }

  .footer-section {
    height: 8vh;
  }

  .todo-form-wrapper {
    width: 55%;
  }

  .todo-form-wrapper > div > button {
    font-size: 1.2rem;
  }
}
